@font-face {
  font-family: "Suisse Int'l";
  src:
    url('/assets/fonts/suisseIntl-light.woff2') format('woff2'),
    url('/assets/fonts/suisseIntl-light.woff') format('woff');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Suisse Int'l";
  src:
    url('/assets/fonts/suisseIntl-bold.woff2') format('woff2'),
    url('/assets/fonts/suisseIntl-bold.woff') format('woff');
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}
