@font-face {
  font-family: "Zain";
  src: url("/assets/fonts/Zain-Bold.eot");
  src: url("/assets/fonts/Zain-Bold.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Zain-Bold.woff2") format("woff2"),
    url("/assets/fonts/Zain-Bold.woff") format("woff"),
    url("/assets/fonts/Zain-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zain";
  src: url("/assets/fonts/Zain-Light.eot");
  src: url("/assets/fonts/Zain-Light.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Zain-Light.woff2") format("woff2"),
    url("/assets/fonts/Zain-Light.woff") format("woff"),
    url("/assets/fonts/Zain-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zain";
  src: url("/assets/fonts/Zain-LightItalic.eot");
  src: url("/assets/fonts/Zain-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/Zain-LightItalic.woff2") format("woff2"),
    url("/assets/fonts/Zain-LightItalic.woff") format("woff"),
    url("/assets/fonts/Zain-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Zain";
  src: url("/assets/fonts/Zain-Italic.eot");
  src: url("/assets/fonts/Zain-Italic.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Zain-Italic.woff2") format("woff2"),
    url("/assets/fonts/Zain-Italic.woff") format("woff"),
    url("/assets/fonts/Zain-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Zain";
  src: url("/assets/fonts/Zain-ExtraLight.eot");
  src: url("/assets/fonts/Zain-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/Zain-ExtraLight.woff2") format("woff2"),
    url("/assets/fonts/Zain-ExtraLight.woff") format("woff"),
    url("/assets/fonts/Zain-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zain";
  src: url("/assets/fonts/Zain-Regular.eot");
  src: url("/assets/fonts/Zain-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/Zain-Regular.woff2") format("woff2"),
    url("/assets/fonts/Zain-Regular.woff") format("woff"),
    url("/assets/fonts/Zain-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zain";
  src: url("/assets/fonts/Zain-Black.eot");
  src: url("/assets/fonts/Zain-Black.eot?#iefix") format("embedded-opentype"),
    url("/assets/fonts/Zain-Black.woff2") format("woff2"),
    url("/assets/fonts/Zain-Black.woff") format("woff"),
    url("/assets/fonts/Zain-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Zain";
  src: url("/assets/fonts/Zain-ExtraBold.eot");
  src: url("/assets/fonts/Zain-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/Zain-ExtraBold.woff2") format("woff2"),
    url("/assets/fonts/Zain-ExtraBold.woff") format("woff"),
    url("/assets/fonts/Zain-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
