@use 'variables';
@use 'mixins';
.modal-content{
  margin-top: 20px;
  height: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .waning-msg , .success-msg {
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    color: #191919;
    position: absolute;
    margin-top: 12rem;
    @include mixins.sm(variables.$max) {
      font-size: 13px;
    }
  }
}
