@if (landingPageData?.hall) {
  <div class="hall-metrics">
    <h3 class="section-title">{{ 'landing.hallDetails' | translate }}</h3>
    @for (section of landingPageData?.hall?.hallSections; track $index) {
      <div class="hall-metrics-item">
        <div class="icon-container">
          <i class="pi pi-users"></i>
        </div>
        <div class="hall-metrics-item-content">
          <p>
            {{ 'landing.section' | translate }}
            {{ lang.lang === 'ar' ? section.name_ar : section.name }}
          </p>
        </div>
      </div>
    }
  </div>
}

@if (landingPageData?.hall?.hallEvents?.length) {
  <div class="hall-events">
    <h3 class="section-title">{{ 'landing.hallEvents' | translate }}</h3>
    <div class="hall-events-list">
      @for (event of landingPageData?.hall?.hallEvents; track event) {
        <div class="hall-event-item">
          <div class="hall-event-content">
            <div class="icon-container">
              <i class="pi pi-calendar"></i>
            </div>
            <div class="event-details">
              <span class="event-name">
                <strong>{{
                  lang.lang === 'ar' ? event.name_ar : event.name
                }}</strong>
              </span>
              <span class="event-description">{{ event.description }}</span>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
}
