<div class="section">
  <h4>{{ 'suppliers.paymentMethods' | translate }}</h4>
  @for (form of paymentMethods.controls; track form; let i = $index) {
    <div class="form-grid">
      <div class="row">
        <!--name-->
        <div class="col-md-4">
          <app-input
            [control]="$any(form.get('name'))"
            [controlName]="'name'"
            inputType="text"
            [placeholder]="'suppliers.paymentMethodNamePlaceholder' | translate"
            [label]="'suppliers.paymentMethodName' | translate">
            <i class="pi pi-pencil" style="color: gray"></i>
          </app-input>
        </div>

        <!--payment method types-->
        <div class="col-md-4">
          <app-dropdown
            (onChange)="onPaymentMethodTypeChange($event, i)"
            [control]="$any(form.get('paymentMethodType'))"
            [options]="paymentMethodTypes"
            [controlName]="'paymentMethodType'"
            [optionLabel]="lang.lang === 'ar' ? 'label.ar' : 'label.en'"
            [optionValue]="'value'"
            [placeholder]="'suppliers.paymentMethodTypePlaceholder' | translate"
            [label]="'suppliers.paymentMethodType' | translate">
            <i class="pi pi-list" style="color: gray"></i>
          </app-dropdown>
        </div>
      </div>

      <div class="row">
        @if (form.get('paymentMethodType')?.value === 'bankAccount') {
          <!--Bank name-->
          <div class="col-md-4">
            <app-dropdown
              [control]="$any(form.get('bankName'))"
              [options]="banks"
              [controlName]="'bankName'"
              [optionLabel]="lang.lang === 'ar' ? 'label.ar' : 'label.en'"
              [optionValue]="'value'"
              [placeholder]="'suppliers.selectBank' | translate"
              [label]="'suppliers.bankName' | translate">
              <i class="pi pi-list" style="color: gray"></i>
            </app-dropdown>
          </div>

          <!--Iban number-->
          <div class="col-md-4">
            <app-input
              [control]="$any(form.get('IBAN'))"
              [controlName]="'IBAN'"
              inputType="text"
              [placeholder]="'suppliers.IBANPlaceholder' | translate"
              [label]="'suppliers.IBAN' | translate">
              <i class="pi pi-credit-card" style="color: gray"></i>
            </app-input>
          </div>

          <!--Acount number-->
          <div class="col-md-4">
            <app-input
              [control]="$any(form.get('accountNumber'))"
              [controlName]="'accountNumber'"
              inputType="text"
              [placeholder]="'suppliers.accountNumberPlaceholder' | translate"
              [label]="'suppliers.accountNumber' | translate">
              <i class="pi pi-credit-card" style="color: gray"></i>
            </app-input>
          </div>
        }

        @if (form.get('paymentMethodType')?.value === 'eWallet') {
          <!--E Wallet-->
          <div class="col-md-4">
            <app-dropdown
              [control]="$any(form.get('eWalletName'))"
              [options]="eWallets"
              [controlName]="'eWalletName'"
              [optionLabel]="lang.lang === 'ar' ? 'label.ar' : 'label.en'"
              [optionValue]="'value'"
              [placeholder]="'suppliers.eWalletNamePlaceholder' | translate"
              [label]="'suppliers.eWalletName' | translate">
              <i class="pi pi-list" style="color: gray"></i>
            </app-dropdown>
          </div>

          <!--E Wallet Number-->
          <div class="col-md-5">
            <app-phone-input
              [control]="$any(form.get('eWalletPhone'))"
              [label]="'fields.mobileNo' | translate"
              [placeholder]="'fields.mobileNoPlaceholder' | translate"
              [phoneNumber]="supplier?.paymentMethods?.[i]?.eWalletPhone">
            </app-phone-input>
          </div>
        }
      </div>

      <div class="row">
        <app-input
          class="full-width"
          [control]="$any(form.get('paymentMethodNotes'))"
          [controlName]="'note'"
          inputType="textarea"
          [rowsNo]="2"
          [placeholder]="'suppliers.notePlaceholder' | translate"
          [label]="'suppliers.note' | translate">
        </app-input>
      </div>

      <div class="d-flex justify-content-end">
        @if (mode !== 'view') {
          <div
            appConfirmDeleteDialog
            [deletedItem]="'suppliers.paymentMethod' | translate"
            (acceptDelete)="deleteMethod(i)"
            class="delete">
            <i class="pi pi-trash"></i>
            <span>{{ 'common.delete' | translate }}</span>
          </div>
        }
      </div>
    </div>
  }
  <div class="add-btn">
    @if (mode !== 'view') {
      <p-button
        (onClick)="addPaymentMethod()"
        type="button"
        [icon]="'pi pi-plus'"
        label="{{ 'suppliers.addNewPaymentMethod' | translate }}"
        styleClass="p-button-success">
      </p-button>
    }
  </div>
</div>
