@use 'variables';
@use 'mixins';
@use '../../../../../styles/components/website/admin-cards' as *;
@use '../../../../../styles/components/website/admin-forms' as *;
@use '../../../../../styles/components/website/admin-buttons' as *;
@use '../../../../../styles/components/website/admin-states' as *;
@use '../../../../../styles/components/website/admin-drag-drop' as *;
@use '../../../../../styles/components/website/admin-switches' as *;

:host {
  .basic-section {
    @extend %admin-basic-card;

    .header-container {
      @extend %admin-card-header;
    }

    .form-grid {
      @extend %admin-form-grid;
    }

    .view-field {
      @extend %admin-view-field;
    }
  }

  .form-actions {
    grid-column: 2;
    justify-self: end;

    button {
      max-width: fit-content;
      margin-top: 2rem;
    }
  }
  .span-2 {
    grid-column: span 2;
  }
}
