<app-header></app-header>
@if (landingPageData) {
  <div class="page_content" id="home">
    <app-hero
      (orderPricingRequested)="openOrderPricing()"
      [heroData]="landingPageData"
      [lang]="lang"></app-hero>

    @for (section of landingPageData.sections; track section) {
      @if (section?.type === 'features') {
        <div id="features">
          <app-about [lang]="lang" [section]="section"></app-about>
        </div>
      }
      @if (section?.type === 'services') {
        <div id="services">
          <app-features
            [lang]="lang"
            (orderPricingRequested)="openOrderPricing()"
            [section]="section"></app-features>
        </div>
      }
      @if (section?.type === 'images') {
        <app-gallery [lang]="lang" [section]="section"></app-gallery>
      }
      @if (section?.type === 'popularQuestions') {
        <div id="faqs">
          <app-faqs [lang]="lang" [section]="section"></app-faqs>
        </div>
      }
      @if (section?.type === 'customers') {
        <div id="clients">
          <app-clients [lang]="lang" [section]="section"></app-clients>
        </div>
      }
      @if (section?.type === 'hallSections') {
        <div id="hallSections">
          <app-landing-hall-sections [lang]="lang" [section]="section" [landingPageData]="landingPageData"></app-landing-hall-sections>
        </div>
      }
      @if (section?.type === 'events') {
        <div id="events">
          <app-landing-events [lang]="lang" [section]="section" [landingPageData]="landingPageData"></app-landing-events>
        </div>
      }
    }


    <div id="contact-us">
      <app-contacts [contactDetails]="landingPageData"></app-contacts>
    </div>
  </div>
}
@if (landingPageData) {
  <app-footer [data]="landingPageData"></app-footer>
}

@if (isOrderPricingVisible) {
  <app-order-pricing
    [hallData]="landingPageData.hall"
    (close)="closeOrderPricing()"></app-order-pricing>
}
