@use 'variables';
@use 'mixins';

:host {
  display: flex;
  background: white;
  gap: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.95);

  justify-content: flex-end;
  padding-inline: 1rem;
  padding-block: 1rem;
  margin-bottom: 1rem;
  @include mixins.sm(variables.$max) {
    gap: 0;
  }

  .lang {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% 50%;
    text-align: center;
    width: 38px;
    min-width: 38px;
    height: 38px;
    background-image: url(/assets/icons/lang.icon.svg);
    background-position: center;
    background-size: 43px;
    background-repeat: no-repeat;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px;

    @include mixins.sm(variables.$max) {
      display: none;
    }

    span {
      display: none;
      width: 25px;
      background: white;
      height: 25px;
      color: variables.$primary-color;
      border-radius: 15px;
      align-items: center;
      justify-content: center;
      padding-top: 5px;

      @include mixins.ltr() {
        .ar {
          display: flex;
        }
      }
      @include mixins.rtl() {
        .en {
          display: flex;
        }
      }
    }
  }
  .notifications {
    position: relative;

    > i {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      text-align: center;
      font-weight: 700;
    }

    > span {
      position: absolute;
      right: -11px;
      background-color: red;
      color: white;
      top: 5px;
      border-radius: 50%;
      height: 24px;
      width: 24px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      font-size: 14px;
    }
    @include mixins.sm(variables.$max) {
      display: none;
    }
  }

  .hall-selector {
    width: 20rem;
    margin-inline-end: auto;
    @include mixins.sm(variables.$max) {
      margin-inline: auto;
    }
  }

  .user {
    position: relative;

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;

      > img {
        padding: 3px;
      }

      &__info {
        cursor: pointer;
        @include mixins.sm(variables.$max) {
          display: none;
        }

        span {
          font-weight: bold;
        }

        p {
          color: #666666;
          margin: 0;
        }
      }
    }

    .drop-down {
      display: flex;
      position: absolute;
      flex-direction: column;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 12px;
      border-radius: 8px;
      gap: 0.5rem;
      z-index: 9999999;
      @include mixins.rtl() {
        left: 0;
      }
      @include mixins.ltr() {
        right: 0;
      }

      li {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;
        .notifications {
          @include mixins.sm(variables.$max) {
            display: block;
            > span {
              left: 9px;
              width: 19px;
              font-size: 11px;
              height: 19px;
            }
          }
        }

        span {
          white-space: nowrap;
        }

        &:hover {
          background-color: variables.$light-gray;
        }
      }
      .notifications-wrapper,
      .search-wrapper,
      .lang-wrapper {
        @include mixins.lg(variables.$min) {
          display: none;
        }
      }
    }
  }

  .pi-bars {
    padding: 1rem;
  }
}
