<app-drawer-form-wrapper [form]="form" (onSubmit)="submit()">
  <app-input
    [control]="f['name_ar']"
    [controlName]="'name_ar'"
    inputType="text"
    [placeholder]="'paymentMethods.nameArPlaceholder' | translate"
    [label]="'paymentMethods.nameAr' | translate">
    <i class="pi pi-wallet" style="color: gray"></i>
  </app-input>

  <app-input
    [control]="f['name']"
    [controlName]="'name'"
    inputType="text"
    [placeholder]="'paymentMethods.nameEn' | translate"
    [label]="'paymentMethods.nameEn' | translate">
    <i class="pi pi-wallet" style="color: gray"></i>
  </app-input>
  <app-dropdown
    [filter]="true"
    filterBy="name"
    [control]="f['accountId']"
    [options]="accountList"
    controlName="accountId"
    [optionLabel]="lang.lang === 'ar' ? 'name_ar' : 'name'"
    optionValue="id"
    [placeholder]="'paymentMethods.linkedAccountPlaceholder' | translate"
    [label]="'paymentMethods.linkedAccount' | translate">
    <i class="pi pi-user" style="color: gray"></i>
  </app-dropdown>

  <app-input
    [control]="f['description']"
    [controlName]="'description'"
    inputType="textarea"
    [label]="'paymentMethods.description' | translate"
    [placeholder]="'paymentMethods.description' | translate">
  </app-input>
</app-drawer-form-wrapper>
