<!-- Category  Section -->
<div class="form-section">
  <div class="row d-flex align-items-baseline position-relative mb-4">
    <div class="col-md-6">
      <app-dropdown
        [control]="form.get('category')!"
        [options]="purchaseCategoryList || []"
        [controlName]="'thirdParty'"
        [optionLabel]="lang.lang === 'ar' ? 'name_ar' : 'name'"
        [optionValue]="'id'"
        [placeholder]="'purchases.expensesCategoryPlaceholder' | translate"
        [label]="'purchases.expensesCategory' | translate"
        [disabled]="isViewMode">
        <i class="pi pi-list" style="color: gray"></i>
      </app-dropdown>
    </div>
    <div class="flex-grow-1 col-md-6">
      <app-input
        [disabled]="true"
        [control]="$any(form.get('expensesDescription'))"
        controlName="expensesDescription"
        [label]="'purchases.expensesDescription' | translate"
        [placeholder]="'purchases.enterExpensesDescription' | translate">
      </app-input>
    </div>
  </div>

  <div class="section-header">
    <h3>
      {{ 'purchases.purchaseItems' | translate }}
    </h3>
  </div>

  <!--add product form -->

  <div class="row d-flex align-items-center">
    @if (form.get('expensesType')?.value === ExpensesType.generalExpenses) {
      <div class="col-md-5 mb-4">
        <app-dropdown
          [emptyMessage]="'purchases.noExpenseItem' | translate"
          [optionValue]="'id'"
          [filter]="true"
          filterBy="name"
          [label]="'purchases.purchaseItemName' | translate"
          [control]="$any(form.get('expenseItemId'))"
          [controlName]="'expenseItemId'"
          [options]="expensesItems"
          [optionLabel]="lang.lang === 'ar' ? 'nameAr' : 'name'"
          [placeholder]="'purchases.selectExpenseItemName' | translate"
          [showClear]="true"
          class="me-2">
        </app-dropdown>
      </div>
    }
    @if (
      !isEditMode &&
      !isViewMode &&
      form.get('expensesType')?.value === ExpensesType.generalExpenses
    ) {
      <span
        *appHasPermission="['create:expenseItem']"
        class="col-md-1 add-btn"
        (click)="addNewExpenseItem()">
        <i class="pi pi-plus"></i>
      </span>
    }
  </div>

  @if (
    !form.get('expenseItemId')?.value &&
    form.get('expensesType')?.value === ExpensesType.generalExpenses
  ) {
    <!-- Empty state message -->
    <div class="empty-products-message">
      <ng-container>
        <p class="text-muted text-center">
          <strong>
            {{ 'purchases.selectExpenseItemFirst' | translate }}
          </strong>
        </p>
      </ng-container>
    </div>
  } @else {
    <div class="row">
      @for (item of itemsArray.controls; track item; let i = $index) {
        <div class="d-flex flex-wrap gap-2 mb-4 align-items-end">
          <div class="min-width-300 col-md-4 col-12">
            @if (
              !item.get('isNew')?.value &&
              !item.get('saved')?.value &&
              form.get('expensesType')?.value === ExpensesType.generalExpenses
            ) {
              <app-dropdown
                [emptyMessage]="'purchases.noExpensesElement' | translate"
                [filter]="true"
                filterBy="name"
                [label]="'purchases.expenseElement' | translate"
                [control]="$any(item.get('name'))"
                [controlName]="'name'"
                [options]="expenseElements"
                [optionLabel]="lang.lang === 'ar' ? 'nameAr' : 'name'"
                [placeholder]="'purchases.selectExpenseElement' | translate"
                (onChange)="onElementSelect($event, i)"
                [disabled]="isViewMode"
                [showClear]="!!item.get('name')?.value"
                (onClear)="clearElementValues(i, false)"
                [showAddNew]="canAddExpenseElement()"
                [addNewLabel]="'purchases.addExpenseElement' | translate"
                (onAddNew)="addNewExpenseElement(i)"
                class="me-2">
              </app-dropdown>
            }
            @if (lang.lang === 'ar') {
              @if (
                item.get('isNew')?.value ||
                item.get('saved')?.value ||
                form.get('expensesType')?.value ===
                  ExpensesType.purchasesExpenses
              ) {
                <app-input
                  [control]="$any(item.get('nameAr'))"
                  controlName="nameAr"
                  [label]="
                    form.get('expensesType')?.value ===
                    ExpensesType.generalExpenses
                      ? ('purchases.expenseElement' | translate)
                      : ('purchases.purchaseItemName' | translate)
                  "
                  [placeholder]="
                    form.get('expensesType')?.value ===
                    ExpensesType.generalExpenses
                      ? ('purchases.addExpenseElement' | translate)
                      : ('purchases.enterPurchaseItemName' | translate)
                  "
                  [disabled]="isViewMode"
                  [showClear]="
                    form.get('expensesType')?.value ===
                    ExpensesType.generalExpenses
                  "
                  (onClear)="clearElementValues(i, false)">
                </app-input>
              }
            } @else {
              @if (
                item.get('isNew')?.value ||
                item.get('saved')?.value ||
                form.get('expensesType')?.value ===
                  ExpensesType.purchasesExpenses
              ) {
                <app-input
                  [control]="$any(item.get('name'))"
                  controlName="name"
                  [label]="
                    form.get('expensesType')?.value ===
                    ExpensesType.generalExpenses
                      ? ('purchases.expenseElement' | translate)
                      : ('purchases.purchaseItemName' | translate)
                  "
                  [placeholder]="
                    form.get('expensesType')?.value ===
                    ExpensesType.generalExpenses
                      ? ('purchases.addExpenseElement' | translate)
                      : ('purchases.enterPurchaseItemName' | translate)
                  "
                  [disabled]="isViewMode"
                  [showClear]="
                    form.get('expensesType')?.value ===
                    ExpensesType.generalExpenses
                  "
                  (onClear)="clearElementValues(i, false)">
                </app-input>
              }
            }
          </div>
          <div class="col-md-2 col-12">
            <app-input
              (onChange)="onPriceChange()"
              [control]="$any(item.get('value'))"
              controlName="value"
              inputType="number"
              [label]="
                form.get('invoiceType')?.value === 'tax'
                  ? ('purchases.price' | translate)
                  : ('purchases.cost' | translate)
              "
              [placeholder]="
                form.get('invoiceType')?.value === 'tax'
                  ? ('purchases.enterPrice' | translate)
                  : ('purchases.cost' | translate)
              "
              [disabled]="isViewMode || item.get('id')?.value">
            </app-input>
          </div>
          <div class="col-md-2 col-12">
            <app-input
              [control]="$any(item.get('quantity'))"
              controlName="quantity"
              type="number"
              [label]="'purchases.quantity' | translate"
              [placeholder]="'purchases.enterQuantity' | translate"
              (onChange)="onQuantityChange()">
            </app-input>
          </div>
          <div class="d-flex align-items-end col-md-2 col-5">
            <app-input
              [disabled]="true"
              [control]="$any(item.get('total'))"
              controlName="total"
              type="number"
              [label]="'purchases.total' | translate">
            </app-input>
            <span class="price-with-symbol">
              <sar-symbol />
            </span>
          </div>
          <div class="d-flex align-items-end gap-2">
            @if (i !== 0) {
              <div
                appConfirmDeleteDialog
                [deletedItem]="
                  form.get('expensesType')?.value ===
                  ExpensesType.generalExpenses
                    ? ('purchases.expenseElement' | translate)
                    : ('purchases.purchaseItemName' | translate)
                "
                (acceptDelete)="removeItem(i)"
                class="action-button delete">
                <i
                  style="color: red; font-size: 1.5rem"
                  class="pi pi-trash"></i>
              </div>
            }
          </div>
          @if (item.hasError('duplicate')) {
            <div class="col-md-3 error-text">
              <img src="/assets/icons/exclamation.icon.svg" alt="error" />
              <span> {{ 'purchases.duplicate' | translate }}</span>
            </div>
          }
        </div>
      }
      @if (itemsArray.hasError('duplicateItems') && itemsArray.touched) {
        <div class="error-text">
          {{ 'purchases.duplicateItems' | translate }}
        </div>
      }
      <!--add new item btn-->
      <button
        class="apply-btn mt-2"
        type="button"
        pButton
        icon="pi pi-plus"
        [label]="
          form.get('expensesType')?.value === ExpensesType.generalExpenses
            ? ('purchases.addNewElement' | translate)
            : ('purchases.addNewGeneralItem' | translate)
        "
        (click)="addNewItem()"
        [disabled]="isViewMode"></button>
    </div>
  }
</div>

<app-add-new-expense-item
  [categories]="purchaseCategoryList"
  (expenseItemCreated)="onCreateExpenseItem($event)">
</app-add-new-expense-item>
