:host {
  .permission-type-info {
    margin-top: 5px;
    padding: 10px 13px;
    background-color: #f1fdf4;
    border: 1px solid #bbf7d0;
    border-radius: 8px;
    color: #17a34a;
  }
  .text-error {
    color: rgb(238, 0, 0) !important;
  }
  .text-xs {
    font-size: 12px;
  }
}
