:host {
  .page-header {
    margin-bottom: 2rem;

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      color: #374151;
    }
  }

  .form-grid {
    border: 1px solid #e1e1e1;
    padding: 30px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .delete {
    color: red;
    display: flex;
    align-items: center;
    border: 1px solid #c2c2c2;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 18px;
    width: fit-content;
    cursor: pointer;
  }
}
