@use 'mixins';
@use 'variables';

:host {
  .footer {
    display: flex;
    justify-content: center;

    margin-top: 25px;
    .action-buttons {
      display: flex;
      justify-content: space-between;
      gap: 5rem;

      @include mixins.sm(variables.$max) {
        flex-direction: column;
        gap: 0.5rem;
      }

      button {
        outline: none;
        background: none;
        border: none;
        font-weight: 600;
        font-size: 16px;

        @include mixins.sm(variables.$max) {
          font-weight: 500;
        }
      }
      &__delete {
        color: #f30000;
      }
    }
  }

  .dropdown-toggle {
    background: var(--primary-color);
    color: #fff;
    font-weight: 500;
    i {
      margin-inline-end: 8px;
    }
    &::after {
      display: none;
    }
  }
  .dropdown-item {
    color: rgb(51, 65, 85);
  }
  .dropdown-menu {
    inset-inline-end: 0 !important;
    inset-inline-start: unset !important;
  }
  .p-menu {
    width: 130px !important;
  }
}
