@use 'variables' as variables;
@use 'mixins' as mixins;

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 4px;

  label span {
    color: red;
    font-weight: bold;
  }

  .input-container {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    &.shake {
      animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
      animation-fill-mode: forwards;
    }
  }

  .icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: gray;
    box-sizing: content-box;
    cursor: pointer;
    z-index: 2;

    img {
      width: 18px;
      height: 18px;
    }

    i {
      font-size: 1.2rem;
      color: variables.$primary-color;
      animation: iconAppear 0.3s ease-in-out;
    }

    @keyframes iconAppear {
      0% {
        opacity: 0;
        transform: scale(0.8);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    &.icon-placeholder {
      i {
        color: #9ca3af;
        font-size: 1rem;
      }
    }
  }

  // .icon-end {
  //   top: 0;
  // }

  .input-field {
    width: 100%;
    padding: variables.$space-l;
    height: inherit;
    text-align: center;
    border-radius: variables.$space-xl;
    border: 1px solid #f6f6f6;
    outline: none;
    font-size: 14px;
    text-align: start;
    color: black;
    background: #f8fafb;
    padding-inline-start: 39px;

    &:not(:disabled) {
      &:hover {
        border-color: #b4e4d6;
      }

      &:focus {
        border-color: #51a79a;
      }
    }
  }
}

:host-context(.disabled) {
  label {
    color: inherit;
    font-weight: 600;
  }

  .input-field {
    cursor: default;
    color: variables.$primary-color;
    font-weight: 600;
  }

  .icon {
    display: none;
  }
}

@include mixins.rtl() {
  .icon-end {
    left: 0;
  }
}

@include mixins.ltr() {
  .icon-end {
    right: 0;
  }
}
