<h5>{{ 'orders.services' | translate }}</h5>
<div class="wrapper">
  <form (ngSubmit)="addService()" appShakeable [formGroup]="servicesForm">
    <div class="service">
      <app-dropdown
        filterBy="name"
        [filter]="true"
        [control]="servicesForm.controls.service"
        [options]="bookingFacadeService.services"
        (onChange)="onServiceChange($event)"
        [optionLabel]="'name'"
        [controlName]="'service'"
        [placeholder]="'orders.services' | translate"
        [label]="'orders.services' | translate">
        <i class="pi pi-server" style="color: gray"></i>
      </app-dropdown>

      <app-input
        [control]="servicesForm.controls.price"
        [controlName]="'price'"
        [label]="'orders.servicePrice' | translate"
        [placeholder]="'orders.servicePrice' | translate">
      </app-input>
    </div>

    <app-input
      class="notes"
      [control]="servicesForm.controls.notes"
      [controlName]="'notes'"
      inputType="textarea"
      [label]="'orders.notes' | translate"
      [placeholder]="'orders.notes' | translate">
    </app-input>
    @if (mode !== 'view') {
      <p-button
        label="{{ 'orders.addService' | translate }}"
        type="submit"
      [icon]="'pi pi-plus'"></p-button>
    }

    @if (isExistingService) {
      <div class="service-exist">
        {{ 'orders.serviceExist' | translate }}
      </div>
    }
  </form>
  @if (selectedServices.length > 0) {
    <h5>
      {{ 'orders.selectedServices' | translate }}
    </h5>
  }
  <p-table
    [paginator]="selectedServices.length > 5"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 25]"
    [totalRecords]="selectedServices.length"
    [value]="selectedServices"
    [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
      @if (selectedServices.length > 0) {
        <tr>
          <th>{{ 'orders.serviceName' | translate }}</th>
          <th>{{ 'orders.servicePrice' | translate }}</th>
          <th>{{ 'orders.notes' | translate }}</th>
          <th style="width: fit-content"></th>
        </tr>
      }
    </ng-template>
    <ng-template pTemplate="body" let-service let-rowIndex="rowIndex">
      <tr>
        <td>{{ lang.lang === 'ar' ? service.name_ar : service.name }}</td>
        <td>{{ service.price }}</td>
        <td>
          @if (!service.editingNote) {
            <span>
              {{ service.note }}
            </span>
          }
          @if (service.editingNote) {
            <input
              pInputText
              [(ngModel)]="service.note"
              (keydown.enter)="service.editingNote = false" />
          }
        </td>
        <td>
          @if (mode !== 'view') {
            <div class="actions">
              @if (!service.editingNote) {
                <div
                  (click)="service.editingNote = true"
                  class="action-button">
                  <i class="pi pi-file-edit"></i>
                  <span>{{ 'common.edit' | translate }}</span>
                </div>
              }
              @if (service.editingNote) {
                <div
                  (click)="service.editingNote = false"
                  class="action-button">
                  <i class="pi pi-file-edit"></i>
                  <span>{{ 'common.update' | translate }}</span>
                </div>
              }
              <div
                appConfirmDeleteDialog
                [deletedItem]="'services.service' | translate"
                (acceptDelete)="deleteService(rowIndex)"
                class="action-button delete">
                <i class="pi pi-trash"></i>
                <span>{{ 'common.delete' | translate }}</span>
              </div>
            </div>
          }
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <app-empty-state
        [customMessage]="'orders.noServices' | translate"></app-empty-state>
      </tr>
    </ng-template>
  </p-table>

  <!-- actions -->
  <div class="actions">
    <span (click)="changeStep(currentStep - 1)" class="previous">
      <i
        [ngClass]="
          lang.dir === 'rtl' ? 'pi pi-arrow-right' : 'pi pi-arrow-left'
        "></i>
      {{ 'common.previous' | translate }}
    </span>
    <p-button
      (click)="changeStep(currentStep + 1)"
      type="button"
      [icon]="lang.dir === 'rtl' ? 'pi pi-arrow-left' : 'pi pi-arrow-right'">
      {{ 'common.next' | translate }}
    </p-button>
  </div>
</div>
