:host {
  display: flex;
  flex-direction: column;
  position: relative;
}

.halls {
  &__title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__link {
    text-decoration: none;
    font-size: 0.875rem;
    color: #718480;
  }
}
