<app-list-header
  [btnAddText]="'paymentMethods.addNewPaymentMethod' | translate"
  [disableAddBtn]="!permissionsService.hasPermission('create:paymentMethod')"
  [title]="'sideNav.paymentMethods' | translate"
  (sideDrawerToggler)="addNewPaymentMethod()"></app-list-header>

<p-table
  #dt2
  [value]="paymentMethods"
  dataKey="id"
  [rows]="rows"
  selectionMode="multiple"
  [(selection)]="selectedItems"
  [rowsPerPageOptions]="rowsPerPageOptions"
  [paginator]="true"
  [totalRecords]="totalRecords"
  [first]="first"
  [lazy]="true"
  (onLazyLoad)="onLazyLoad($event)">
  <ng-template pTemplate="header">
    <tr>
      <th class="checkbox-cell"></th>
      <th pSortableColumn="name">
        {{ 'paymentMethods.name' | translate }}
        <p-sortIcon field="name" class="mr-12px"></p-sortIcon>
      </th>
      <th>
        {{ 'paymentMethods.linkedAccount' | translate }}
      </th>
      <th pSortableColumn="description">
        {{ 'paymentMethods.description' | translate }}
        <p-sortIcon field="description" class="mr-12px"></p-sortIcon>
      </th>
      <th style="width: fit-content"></th>
    </tr>
    <tr>
      <th style="width: 20px !important"></th>
      <th>
        <app-input
          [control]="filterForm.get('name')!"
          [controlName]="'name'"
          inputType="text"
          [showLabel]="false"
          [placeholder]="'common.search' | translate">
          <i class="pi pi-search" style="color: gray"></i>
        </app-input>
      </th>
      <th></th>
      <th>
        <app-input
          [control]="filterForm.get('description')!"
          [controlName]="'description'"
          inputType="text"
          [showLabel]="false"
          [placeholder]="'common.search' | translate">
          <i class="pi pi-search" style="color: gray"></i>
        </app-input>
      </th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-paymentMethod>
    <tr>
      <td>
        <div style="width: fit-content"></div>
      </td>
      <td>
        {{
          currentLang === 'ar' && paymentMethod?.name_ar
            ? paymentMethod?.name_ar
            : paymentMethod?.name
        }}
      </td>
      <td>
        {{
          currentLang === 'ar'
            ? paymentMethod?.account?.name_ar
            : paymentMethod?.account?.name
        }}
        - {{ paymentMethod?.account?.accountCode }}
      </td>
      <td style="text-wrap: wrap">
        {{ paymentMethod.description }}
      </td>
      <td>
        <div class="actions">
          @if (hasPermissionTo('view', paymentMethod)) {
            <div
              (click)="viewPaymentMethod(paymentMethod)"
              class="action-button">
              <i class="pi pi-eye"></i>
              <span>{{ 'common.view' | translate }}</span>
            </div>
          }
          @if (hasPermissionTo('update', paymentMethod)) {
            <div
              (click)="updatePaymentMethod($event, paymentMethod)"
              class="action-button">
              <i class="pi pi-file-edit"></i>
              <span>{{ 'common.edit' | translate }}</span>
            </div>
          }
          @if (hasPermissionTo('delete', paymentMethod)) {
            <div
              appConfirmDeleteDialog
              [deletedItem]="'paymentMethods.paymentMethod' | translate"
              (acceptDelete)="deletePaymentMethod(paymentMethod)"
              class="action-button delete">
              <i class="pi pi-trash"></i>
              <span>{{ 'common.delete' | translate }}</span>
            </div>
          }
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="5">
        <app-empty-state></app-empty-state>
      </td>
    </tr>
  </ng-template>
</p-table>

<app-new-payment-method
  [paymentTypes]="paymentTypes"
  (refreshDataTable)="refreshDataTable()"></app-new-payment-method>
