:host {
  .signature-head {
    padding: 15px;
    border: 1px solid #dee2e6;
    border-radius: 8px 8px 0 0;
  }

  .signature-options {
    display: flex;
    flex-wrap: wrap;
    align-items: self-start;
    gap: 40px;
    border: 1px solid #dee2e6;
    border-radius: 0 0 8px 8px;
    padding: 30px 15px;
    background-color: #f8fafb;
    border-top: 0;
  }

  .s-img {
    width: 185px;
    height: 185px;
    object-fit: contain;
    background-color: white;
    border: 1px solid #d5d5d5;
    border-radius: 8px;
    margin-top: 10px;
    padding: 2px;
  }
  .danger {
    font-size: 13px;
    color: #dc3545;
  }
}
