:host {
  display: flex;
  align-items: center;
  justify-content: center;

  .badge {
    cursor: pointer;
    padding: 10px 24px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;

    .dot {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
}
