@use 'mixins';
@use 'variables';

:host {
  .page-container {
    background-color: #fff;
    min-height: calc(100vh - 64px);
  }

  ::ng-deep .p-stepper {
    .p-stepper-separator {
      display: none;
    }
    .p-stepper-nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 50%;
      margin-inline: auto;
      padding-right: 20px;
      margin-top: 20px;
      padding-top: 20px;
      @media (max-width: 1024px) {
        width: 100%;
        padding-right: 0px;
      }
      @media (max-width: 1200px) {
        width: 75%;
      }
    }
  }

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
    justify-content: center;
    cursor: pointer;
    &.active {
      &::after {
        content: '';
        width: 55px;
        top: 0;
        transform: translate(0%, -8px);
        height: 55px;
        position: absolute;
        border-radius: 50%;
        animation: pulse-animation 2s infinite;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%231EAB8FFF' stroke-width='7' stroke-dasharray='50%25%2c 13%25' stroke-dashoffset='86' stroke-linecap='butt'/%3e%3c/svg%3e");
        border-radius: 100px;
      }
    }
    span {
      border-radius: 50%;
      padding: 10px;
      width: 40px;
      height: 40px;
      text-align: center;
      font-weight: bold;
      color: white;
      background: #1eab8f;
    }
    h6 {
      text-align: center;
    }
  }
}
