@use 'variables';
@use 'mixins';

:host {
  .form-actions {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    background-color: white;
    border-radius: 0.75rem;

    button {
      max-width: 275px;
    }
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #374151;
  }

  .error-message {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    padding: 2px;
    font-size: 12px;
    color: red;

    img {
      width: 16px;
      filter: invert(11%) sepia(41%) saturate(10000%) hue-rotate(-30deg);
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(5rem, 1fr));
    gap: 1rem;
    background-color: white;
    padding: 2rem;
    justify-content: center;
    border-radius: 1rem;
    @include mixins.sm(variables.$max) {
      display: flex;
      flex-direction: column;
    }
    .date {
      z-index: 100;
    }
    .paymentMethod,
    .paymentTypes {
      position: relative;
    }
    > * {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
    }
  }
  .span-2 {
    grid-column: span 2;
  }
}
