<!-- <app-list-header
  [title]="'sideNav.refundRequests' | translate"></app-list-header>

<p-table
  #dt2
  [value]="refundRequests"
  dataKey="id"
  [rows]="rows"
  [lazy]="true"
  selectionMode="multiple"
  [totalRecords]="totalRecords"
  [rowsPerPageOptions]="rowsPerPageOptions"
  [first]="first"
  [paginator]="true"
  (onLazyLoad)="onLazyLoad($event)">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="bookingReference">
        {{ 'orders.orderNumber' | translate }}
        <p-sortIcon field="bookingReference" class="mr-12px" />
      </th>
      <th>
        {{ 'refunds.clientName' | translate }}
      </th>

      <th pSortableColumn="amount">
        {{ 'refunds.refundedAmount' | translate }}
        <p-sortIcon field="amount" class="mr-12px" />
      </th>
      <th pSortableColumn="request_date">
        {{ 'refunds.requestDate' | translate }}
        <p-sortIcon field="requestDate" class="mr-12px" />
      </th>
      <th>
        {{ 'refunds.requestStatus' | translate }}
      </th>

      <th></th>
      <th style="width: fit-content"></th>
    </tr>
    <tr>
      <th>
        <app-input
          [control]="filterForm.get('bookingReference')!"
          [controlName]="'bookingReference'"
          inputType="text"
          [showLabel]="false"
          [placeholder]="'common.search' | translate">
          <i class="pi pi-search" style="color: #667085"></i>
        </app-input>
      </th>
      <th>
        <app-input
          [control]="filterForm.get('clientName')!"
          [controlName]="'clientName'"
          inputType="text"
          [showLabel]="false"
          [placeholder]="'common.search' | translate">
          <i class="pi pi-search" style="color: #667085"></i>
        </app-input>
      </th>
      <th>
        <app-input
          [control]="filterForm.get('amount')!"
          [controlName]="'amount'"
          inputType="number"
          [showLabel]="false"
          [placeholder]="'common.search' | translate">
          <i class="pi pi-search" style="color: #667085"></i>
        </app-input>
      </th>
      <th style="min-width: 120px">
        <app-gregorian-date-picker
          #startDate
          [control]="$any(filterForm.get('request_date'))"
          controlName="request_date"
          [showClear]="true"
          [placeholder]="'common.search' | translate">
        </app-gregorian-date-picker>
      </th>
      <th>
        <app-dropdown
          appendTo="body"
          [control]="$any(filterForm.get('status'))"
          [options]="refundStatusTypes"
          [controlName]="'status'"
          [optionLabel]="'label.' + translate.currentLang"
          [optionValue]="'value'"
          [placeholder]="'refunds.requestStatus' | translate"
          [showClear]="true">
        </app-dropdown>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-request>
    <tr>
      <td>
        {{ request?.booking?.bookingReference }}
      </td>
      <td>
        {{ request?.user?.name }}
        @if (request.user?.isVIB) {
          <img width="35px" src="/assets/icons/vip-icon.svg" alt="Vip" />
        }
      </td>

      <td class="payment-cell">
        <span class="price-with-symbol">
          <sar-symbol />
          <span>
            {{ request.amount | number: '1.2-2' }}
          </span>
        </span>
      </td>

      <td style="text-wrap: auto">
        {{ request.request_date }}
      </td>

      <td style="text-wrap: auto">
        {{ 'refunds.' + request.status | translate }}
      </td>

      <td>
        <div ngbDropdown container="body" class="d-inline-block">
          <button
            [disabled]="request.status === 'canceled'"
            type="button"
            class="options-button"
            id="dropdownBasic1"
            ngbDropdownToggle>
            <span
              class="p-button-icon p-button-icon-left pi pi-ellipsis-v"></span>
            {{ 'common.options' | translate }}
          </button>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            class="p-menu p-menu-overlay">
            @if (hasPermissionTo('update', request)) {
              <button
                ngbDropdownItem
                [routerLink]="['edit', request.id]"
                class="d-flex gap-3">
                <i class="pi pi-pencil"></i>
                <span>{{ 'common.edit' | translate }}</span>
              </button>
            }
            <button
              ngbDropdownItem
              [routerLink]="['view', request.id]"
              class="d-flex gap-3">
              <i class="pi pi-eye"></i>
              <span>{{ 'common.view' | translate }}</span>
            </button>
            @if (hasPermissionTo('delete', request)) {
              <button
                ngbDropdownItem
                class="d-flex gap-3"
                (click)="openDeleteConfirmation(request.id)">
                <i class="pi pi-times-circle"></i>
                <span>{{ 'common.cancel' | translate }}</span>
              </button>
            }
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="5">
        <app-empty-state></app-empty-state>
      </td>
    </tr>
  </ng-template>
</p-table>

<app-confirm-delete-popup
  [visible]="showDeleteConfirmation"
  [message]="'refunds.deleteRefundRequest' | translate"
  (confirm)="confirmDeleteRequest()"
  (reject)="rejectDeleteRequest()"></app-confirm-delete-popup> -->
