<div class="p-3">
  <p-skeleton width="40%" height="40px" styleClass="mb-2" />
</div>
<div class="p-3">
  <!-- Top row of stat cards -->
  <div class="statistic g-3">
    @for (stat of [1, 2, 3, 4, 5]; track stat) {
      <div class="statistic-box">
        <div class="d-flex mb-3 skelton-border p-2 gap-2 align-items-center">
          <p-skeleton shape="circle" size="4rem" styleClass="ml-3" />
          <div style="flex: 1">
            <p-skeleton width="40%" height="10px" styleClass="mb-2" />
            <p-skeleton width="80%" height="14px" styleClass="mb-2" />
          </div>
        </div>
      </div>
    }
  </div>

  <!-- Main content row -->
  <div class="row g-3 mt-3">
    <!-- Right side: Chart or stats area -->
    <div class="col-md-8">
      <div class="d-flex skelton-border p-3 h-max">
        <div style="flex: 1">
          <p-skeleton width="30%" height="20px" styleClass="mb-2"></p-skeleton>
          <p-skeleton width="50%" height="14px" styleClass="mb-3"></p-skeleton>
          <p-skeleton width="100%" height="500px"></p-skeleton>
        </div>
      </div>
    </div>

    <!-- Left side -->
    <div class="col-md-4">
      <p-skeleton width="60%" height="1.5rem" styleClass="mb-4" />
      <div class="skelton-border p-3 mb-3">
        <div class="mb-4">
          <div style="width: 100%">
            <p-skeleton shape="circle" size="5rem" styleClass="mb-2" />

            <p-skeleton width="80%" height="2rem" styleClass="mb-2" />
            <p-skeleton width="60%" height=".5rem" styleClass="mb-2" />
            <p-skeleton width="70%" />
          </div>
        </div>
      </div>

      <p-skeleton width="60%" height="1.5rem" styleClass="mb-4" />
      <div class="skelton-border p-3">
        <p-skeleton width="100%" height="20px" styleClass="mb-2" />
        <p-skeleton width="100%" height="20px" styleClass="mb-2" />
        <p-skeleton width="100%" height="20px" styleClass="mb-2" />
        <p-skeleton width="100%" height="20px" styleClass="mb-2" />
        <p-skeleton width="100%" height="20px" styleClass="mb-2" />
        <p-skeleton width="100%" height="20px" styleClass="mb-2" />
        <p-skeleton width="100%" height="20px" styleClass="mb-2" />
      </div>
    </div>
  </div>
</div>
