@if (isLoaded) {
  <form [formGroup]="form" class="content">
    @if (!landingPageData?.hallName) {
      <div class="no-landing-page" @fadeSlide>
        <div class="content">
          <i class="pi pi-info-circle"></i>
          <p>{{ 'landing.noLandingPage' | translate }}</p>
          <button
            pButton
            class="p-button-primary add-btn"
            icon="pi pi-plus"
            [label]="'landing.addLandingPage' | translate"
          (click)="initializeNewLandingPage()"></button>
        </div>
      </div>
    }
    @if (landingPageData?.hallName || (showBasicForm && !hideBasicForm)) {
      @if (landingPageData?.hallName) {
        <div
          class="header d-flex align-items-center justify-content-between">
          <h6>{{ 'landing.websiteSettings' | translate }}</h6>
          <button
            class="p-element p-button d-flex align-items-center p-component d-inline-block"
            (click)="goToLiveLanding()">
            <i class="pi pi-eye"></i>
            <span>{{ 'landing.liveView' | translate }}</span>
          </button>
        </div>
      }
      <app-basic-information
        [landingPageData]="landingPageData"
        [startInEditMode]="showBasicForm"
        (landingPageCreated)="onLandingPageCreated($event)"
        (cancelBasicForm)="onCancelBasicForm()">
      </app-basic-information>
      <app-hall-details [landingPageData]="landingPageData"></app-hall-details>
      @if (landingPageData?.hallName) {
        <add-section
        [landingPageData]="landingPageData!"></add-section>
      }
      @if (landingPageData?.hallName) {
        @for (section of landingPageData?.sections; track section) {
          @if (section?.type === 'services') {
            <app-hall-services
              [landingPageData]="landingPageData"
            [section]="section"></app-hall-services>
          }
          @if (section?.type === 'customers') {
            <app-hall-clients
              [landingPageData]="landingPageData"
              [currentHall]="currentHall"
            [section]="section"></app-hall-clients>
          }
          @if (['banners', 'images'].includes(section?.type!)) {
            <app-hall-media
              [landingPageData]="landingPageData"
              [section]="section"
              (mediaUpdated)="onMediaUpdated($event)">
            </app-hall-media>
          }
          @if (section?.type === 'features') {
            <app-hall-features
              [landingPageData]="landingPageData"
            [section]="section"></app-hall-features>
          }
          @if (section?.type === 'popularQuestions') {
            <app-popular-questions
              [landingPageData]="landingPageData"
            [section]="section"></app-popular-questions>
          }
          @if (section?.type === 'socialLinks') {
            <app-social-media
              [landingPageData]="landingPageData"
            [section]="section"></app-social-media>
          }
        }
        <app-location [landingPageData]="landingPageData"></app-location>
      }
    }
  </form>
}
