@if (form) {
  <form
    appShakeable
    class="form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()">
    <app-input
      [placeholder]="'auth.emailPlaceHolder' | translate"
      [controlName]="'email'"
      inputType="email"
      [label]="'auth.resetPasswordMessage' | translate"
      [control]="form.controls.email"
    iconPath="/assets/icons/email.icon.svg"></app-input>
    <p-button type="submit" icon="pi pi-envelope">
      {{ 'common.send' | translate }}
    </p-button>
    <p-button
      severity="secondary"
      routerLink="/auth/login"
      class="backToLogin"
      [icon]="lang.dir === 'rtl' ? 'pi pi-arrow-left' : 'pi pi-arrow-right'">
      {{ 'auth.backToLogin' | translate }}
    </p-button>
  </form>
}
