@use 'variables';
@use 'mixins';
:host {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}

::ng-deep {
  .backToLogin {
    button {
      background: unset !important;
    }
  }
}
