@use 'variables';
@use 'mixins';

:host {
  .form-section {
    background: white;
    border-radius: 8px;
    padding: 0 24px 24px 24px;

    h3 {
      font-size: 18px;
      font-weight: 500;
      margin: 0 0 16px;
    }
  }

  .form-actions {
    display: flex;
    gap: 12px;
    margin-top: 24px;
    justify-content: space-between;

    ::ng-deep .p-button {
      margin-block: 1rem 0;
      flex: 1 0;
      max-width: 275px;
    }
  }
}
